DATABASE_URL=
JWT_SECRET=

# For email testing
MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
ADMIN_CONTACT_EMAIL=geral@thesaintanthony.com

# password
JWT_PASSWORD_RESET_SECRET=
JWT_PASSWORD_RESET_EXPIRATION_TIME=15m

# verify email
JWT_USER_VERIFY_SECRET=
JWT_USER_VERIFY_EXPIRATION_TIME=24h

FRONTEND_URL=
EMAIL_RESET_PASSWORD_URL=
USER_VERIFY_ACCOUNT_URL=

REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=

IMAGES_PATH=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

CLOUDBEDS_ENABLED=false
CLOUDBEDS_CLIENT_ID=
CLOUDBEDS_CLIENT_SECRET=
CLOUDBEDS_WEBHOOK_SECRET=
