DATABASE_URL=
JWT_SECRET=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
EMAIL_RESET_PASSWORD_URL=http://localhost:3000/auth/password/reset
USER_VERIFY_ACCOUNT_URL=http://localhost:3000/auth/verify

JWT_PASSWORD_RESET_SECRET=
JWT_PASSWORD_RESET_EXPIRATION_TIME=15m

JWT_USER_VERIFY_SECRET=
JWT_USER_VERIFY_EXPIRATION_TIME=24h

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
PAYPAL_MODE=sandbox
